pkgbase = ispotify
	pkgdesc = Desktop music search, playlist, download, and playback application
	pkgver = 18.0.0
	pkgrel = 1
	url = https://github.com/itzlalpekhlua/ISpotify
	arch = any
	license = MIT
	depends = python
	depends = pyside6
	depends = qt6-multimedia
	depends = qt6-multimedia-ffmpeg
	depends = yt-dlp
	depends = python-requests
	depends = ffmpeg
	depends = deno
	source = ispotify-18.0.0.tar.gz::https://github.com/itzlalpekhlua/ISpotify/archive/refs/tags/v18.0.0.tar.gz
	sha256sums = e5e7da38ea45c0ef1de87da4ef0c6a2ecff1e9b3fc5b41fc29744bfc00c48d09

pkgname = ispotify
